<div class="row">
    <h3>Autor rad index</h3>

    <br />
    <p>
        <a class="btn btn-success" asp-controller="Rad" asp-action="RadoviIndexByAuthor">Pregled mojih radova</a>
    </p>
    <br />
    <p>
        
        <a class="btn btn-success" asp-controller="AutorRad" asp-action="AddRad">Dodaj novi rad</a>
    </p>
</div>