<div class="row">
    <h3>Recenzent Index</h3>
    <br />

    <a class="btn btn-success" asp-controller="Rad" asp-action="RadoviIndexByRecenzent">Dodijeljeni radovi</a>
    <br /><br />
    <a class="btn btn-danger">Dodavanje nove recenzije</a>

</div>