<div class="row container">
  
    <ul class="list-group" style="margin-left: 40%; margin-top: 5%;">
        <li class="list-group-item">
            <a asp-controller="AdminUsers" asp-action="UserIndex" class="btn btn-sm btn-outline-primary">Manage Users</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Admin" asp-action="AdminRadoviIndex" class="btn btn-sm btn-outline-primary">Manage Titles</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Publikacija" asp-action="Index" class="btn btn-sm btn-outline-primary">Manage Publications</a>
        </li>
        @*
    <li class="list-group-item">
        <a>Website Stats</a>
    </li>
        *@
    </ul>
</div>

