
    <address>
        <span style="color: black;">MVC Projekat je aplikacija za:</span><br />
        Prirodno-matematički fakultet Sarajevo
        <br />
        Zmaja od Bosne 33-35
        <br />
        71000 Sarajevo, BiH
    </address>
    <address>
        <span style="color: black;">Kontakt:</span><br />
        TEL/FAX: 033 723-723<br />
        <span>Official Website: </span>
        <a href="http://www.pmf.unsa.ba/">www.pmf.unsa.ba</a>
    </address>
<address>
    <span style="color: black;">Developed by:</span> Berin Spahović, Benjamin Varatanović, Emin Dukić <br />
</address>
