<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">

    @*
    <link href="~/startbootstrap-creative-gh-pages/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    *@
    <!-- Custom styles for this template -->


</head>

<style>
    
    * {
        font-family: 'Cardo';
    }
    hr {
        max-width: 50px;
        border-width: 3px;
        border-color: #F05F40;
    }
        hr.light {
            border-color: #fff;
        }
    a {
        color: #F05F40;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
        a:hover {
            color: #f05f40;
        }

    .bg-primary {
        background-color:#F05F40 !important;
    }

    .bg-dark {
        background-color: #212529 !important;
    }

    .text-faded {
        color: rgba(255, 255, 255, 0.7);
    }

    
    section {
        padding: 8rem 0;
    }

    .section-heading {
        margin-top: 0;
    }

    img::-moz-selection {
        color: #fff;
        background: transparent;
    }

    img::selection {
        color: #fff;
        background: transparent;
    }

    img::-moz-selection {
        color: #fff;
        background: transparent;
    }

 
    /*
    .navbar {
        margin-top: -6px;
    }
    
        */


    
    @@media (min-width: 768px) {
        header.masthead p {
            font-size: large;
        }
    }

    header.masthead {
        height: unset;
        min-height: inherit;
        padding-top: 0;
        padding-bottom: 0;
    }
    
        @@media (min-width: 992px) {

                header.masthead h1 {
                    font-size: xx-large;
                }
        }
    @@media (min-width: 1200px) {
        header.masthead h1 {
            font-size: xx-large;
        }
    }


    .service-box {
        max-width: 400px;
    }

    body {
        overflow-x: hidden;
    }
    
</style>

@*
    <div class="container" id="page-top" style="overflow-wrap: normal;">
*@

    <header class="masthead text-center text-white d-flex row" id="headerDiv" style="margin-top: 15%; margin-bottom: 16%;">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>MVC PROJEKAT</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-dark mb-5"> MVC PROJEKAT <br /> Prirodno-matematički fakultet Sarajvevo <br /> Odsjek: Matematika <br /> Smjer: Teorijska Kompijuterksa Nauka <br /> (Beta Version)</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#roles">Prikaži više informacija </a>
                </div>
            </div>
        </div>
    </header>

    <section id="roles" class="bg-primary" style="margin-top: 10%; margin-left: -10%; width: 120%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> RAZLIČITI KORISNICI</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row container" style="margin-left: 12%;">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                        <h3 class="mb-3">Čitaći</h3>
                        <p class="text-white mb-0">Imamo bazu naučnih radova koji korisnici mogu da čitaju.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                        <h3 class="mb-3">Autori</h3>
                        <p class="text-white mb-0">Autori mogu objavljivati svoje radove, komunicirati sa kritičarima i dobiti feedback od njih.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                        <h3 class="mb-3">Kritičari</h3>
                        <p class="text-white mb-0"> Naši kritičari će pažljivo čitati svaki rad i dati konstruktivne kritike autorima tih radova.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 mx-auto" style="margin-top: 10%;">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#info">More Info</a>
            </div>
        </div>
    </section>

    <section id="info" style="margin-top: 15%; background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Dodatne informacije!!!</h2>
                    <hr class="my-4">
                    <p class="mb-5">
                        Developed by: Berin Spahović, Benjamin Varatanović, Emin Dukić <br />
      
                    </p>
                </div>
            </div>
            </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="~/startbootstrap-creative-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-creative-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/startbootstrap-creative-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/startbootstrap-creative-gh-pages/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/startbootstrap-creative-gh-pages/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    @*
        <script src="~/startbootstrap-creative-gh-pages/js/creative.min.js"></script>
    *@
@*
    </div>
*@